.logo img {
    width: 100%;
}

a {
    color: white;
    font-family: Light;
}

h1, h2 {
    margin: 0;
}

header {
    height: 816px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 center;
    position: relative;
}

header:before {
    background: #2A2427;
}

.img-about {
    background-size: cover;
    width: 100%;
    height: 100%;
}

.img-about img {
    width: 100%;
    height: 100%;
}
